.section {
  margin: 10px 30px;
  text-align: left;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.9136029411764706) 0%,
    rgba(0, 219, 255, 0.8799894957983193) 50%,
    rgba(2, 0, 36, 0.9192051820728291) 100%
  );
  border-radius: 10px;
}

h2 {
  color: aqua;
}
